/*
========
Containers
========
*/

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: linear-gradient(#94B49F, #B4CFB0);
}

.hero-left-and-right {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
}

.hero {
    background: linear-gradient(#B4CFB0, #FFF);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-left {
    flex: 1;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    color: #fff;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 10px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fff, 
    #E5E3C9);
}

.testimonial-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 390px;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(#E5E3C9, #fff);
}

.newsletter-container {
    display: flex; 
    width: 800px;
    background-color: #94B49F;
    justify-content: center;
    align-content: center;
}

.newsletter-button {
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

/*
========
Individual elements
========
*/

.about-image img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

#quote {
    font-size: 30px;
    color: rgb(119, 119, 119);
    padding: 0 10px;
}

#logo-container {
    display: flex;
    flex-shrink: 0;
    background: #fff;
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin-top: 5px;
}

.shop-name {
    margin: auto 0;
    font-size: 40px;
}

.permanent-marker {
    font-family: 'Permanent Marker', cursive, sans-serif;
}

.logo {
    height: auto;
    width: 100px;
    flex: 1;
}

.hero-image {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.4);
}

.hero-left button {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #B4CFB0;
    border-radius: 5px;
    padding: 10px 30px;
    border-style: none;
}

li {
    list-style: none;
}

.header-links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.header-links:hover {
    text-decoration: underline;
}

.stan-lee {
    align-self: flex-start;
    padding: 0 10px;
    margin-top: -10px;
}